{% extends 'base.html.twig' %}

{% block title %}Connexion | Cigale{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="./css/portail.css" />
    <link rel="stylesheet" type="text/css" href="./css/forms.css" />
{% endblock %}

{% block header %}
    <div class="title">
        <h1>{{ h1 | default('Cigale') }}</h1>
        <span>Panneau d'administration</span>
    </div>
{% endblock %}

{% block main %}
<main class="login">
    <article class="info">
        {% if error %}
        	<p class="important">
        		{{ error.messageKey|trans(error.messageData, 'security') }}
        	</p>
        {% endif %}

        {% if app.user %}
            <p>
                Vous êtes connecté en tant que {{ app.user.username }}.
            </p>
            <a class="button button-no" href="{{ path('app_logout') }}">Se déconnecter <i class="fas fa-sign-out-alt"></i></a>
        {% else %}
            <form method="post" action="{# redirection #}">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Identifiant" required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button class="button button-ok" type="submit">Se connecter <i class="fas fa-key"></i></button>
            </form>
        {% endif %}
    </article>
</main>
{% endblock %}
