{% extends 'base.html.twig' %}

{% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}

{% block main %}
<section class="actualites">
	<article class="actus">
		<h2>Nouvelle actualité</h2>
        {{ form_start(form, {'attr': {'class': 'actu-form'}}) }}
            {{ form_widget(form.lien_image) }}
			<div class="title">
                {{ form_widget(form.titre, {'attr': {'placeholder': 'Titre de l\'actualité'}}) }}
                {{ form_widget(form.date_nouveaute) }}
			</div>
            {{ form_widget(form.contenu, {'attr': {'placeholder': 'Contenu de l\'actualité', 'rows': '8', 'cols': '80'}}) }}
            {{ form_widget(form.bornes) }}
			<div class="submit">
				<input type="submit" name="" class="button button-ok" value="Valider">
			</div>
        {{ form_end(form) }}
	</article>
</section>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
$(document).ready(function(){});
</script>
{% endblock %}
