{% extends 'base.html.twig' %}

{% block title %}Nouveautés | Cigale{% endblock %}

{% block main %}
<main>
    <article class="actus">
		<h2>Nouvelle actualité</h2>
        {{ form_start(form, {'attr': {'class': 'actu-form'}}) }}
            {{ form_widget(form.lien_image) }}
			<div class="title">
                {{ form_widget(form.titre, {'attr': {'placeholder': 'Titre de l\'actualité'}}) }}
                {{ form_widget(form.date_nouveaute) }}
			</div>
            {{ form_widget(form.contenu, {'attr': {'placeholder': 'Contenu de l\'actualité', 'rows': '8', 'cols': '80'}}) }}
            {% if not is_granted('ROLE_ADMIN')  %}
                {{ form_label(form.bornes, 'Bornes concernées (appuyez sur Ctrl ou Shift pour en selectionner plusieurs):') }}
                {{ form_widget(form.bornes) }}
            {% endif %}
			<div class="submit">
				<input type="submit" name="" class="button button-ok" value="Valider">
			</div>
        {{ form_end(form) }}
	</article>
    <article class="actus">
		<h2>Dernière actualités</h2>
        {% for n in nouveautes %}
    		<div class="actu">
    			<div class="img" style="background: no-repeat center center url('{{ n.lienImage }}'); background-size: cover;">
    			</div>
    			<div class="content">
    				<h3>{{ n.titre }}</h3>
    				<span class="date"><i class="fas fa-clock"></i> {{ n.dateNouveaute | date }}</span>

    				<p>{{ n.contenu }}</p>

                    <p>
                        <b>Affiché sur les bornes :</b> {{ n.bornes | map(b => "#{b.nom}") | join(', ') }}.
                    </p>

    				<div class="delete">
    					<a class="button button-no" href="{{ path('nouveaute.supprimer',{id : n.id}) }}">Supprimer <i class="fas fa-trash-alt"></i></a>
    				</div>
    			</div>
    		</div>
        {% endfor %}
    </article>
</main>
{% endblock %}
