{% extends 'base.html.twig' %}

{% block title %}Hello TypeOrganisationController!{% endblock %}

{% block body %}
    <style>

    </style>
    <div class="example-wrapper">
        {% for d in data %}
            <h1>{{ d.id }}</h1>
            <h1>
                {{ d.nomEtablissement }}
            </h1>
            <h1>
                {{ d.latitude}}
            </h1>
            <h1>
                {{ d.longitude }}
            </h1>
            <h1>
                {{ d.descriptionEmplacement }}
            </h1>
            <h1>
                {{ d.adresse.rue }}
            </h1>
            <h1>
                {{ d.adresse.numeroRue }}
            </h1>
            <h1>
                {{ d.ville }}
            </h1>
            <h1>
                {{ d.adresse.codePostal }}
            </h1>
            <h1>
                {{ d.adresse.pays }}
            </h1>
        {% endfor %}
    </div>

{% endblock %}