{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    {{ parent() }}
    <link rel="stylesheet" href="/css/datatables.css">
{% endblock %}

{% block title %}Historique d'une borne | Cigale{% endblock %}

{% block main %}

    <main>
        <article class="liste-bornes">
            <h2>Historique</h2>

            <table id="mydatatable" class="table table-striped table-bordered dt-responsive mydatatable" style="width:100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>etat</th>
                    <th>raison</th>
                    <th>date</th>
                </tr>
                </thead>

                <tbody>
                {% for b in borne | sort((a, b) => b.date <=> a.date) %}
                    <tr>
                        <td>{{ b.id }}</td>
                        <td>
                            {%  if b.type.etat is defined  %}
                            {{ b.type.etat }}
                            {% endif %}
                        </td>
                        <td>{{ b.raison }}</td>
                        <td>{{ b.date |date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"></script>

    <script type="text/javascript" src="jquery.dataTables.js" defer></script>
    <script type="text/javascript" src="/js/dataTables.js" defer></script>
{% endblock %}
