{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"></script>

    <script type="text/javascript" src="jquery.dataTables.js" defer></script>
    <script defer>
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#mydatatable thead tr').clone(true).appendTo( '#mydatatable thead' );
            $('#mydatatable thead tr:eq(1) th').each( function (i) {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Chercher '+title+'" />' );

                $( 'input', this ).on( 'keyup change', function () {
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                    }
                } );
            } );

            var table = $('#mydatatable').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
                },
                lengthMenu: [[2,3,5,-1],[2,3,5,'tous']],

            } );
        } );
    </script>
{% endblock %}

{% block main %}

<main>
    <article class="liste-bornes">
        <h2>Paramètres des bornes</h2>

        <a class="button button-ok" href='{{ path('bornes.ajouter') }}'>Ajouter une borne <i class="fas fa-plus-square"></i></a>


        <table id="mydatatable" class="table table-striped table-bordered dt-responsive mydatatable" style="width:100%">
            <thead>
                <tr>
                    <th>Proprietaire</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>MAC</th>
                    <th>Statut</th>
                </tr>
            </thead>

            <tbody>
            {% for b in bornes %}
            <a href='{{ path('bornes.modifier',{id : b.id}) }}'>
                <tr>
                    <td>{{ b.nom_organisation }}</td>
                    <td>{{ b.nom }}</td>
                    {# <td><a href='{{ path('bornes.stat',{id : b.id}) }}'>details</a></td> #}
                    <td>{{ b.adresse }}</td>
                    <td>{{ b.MAC }}</td>

                    {% if b.statut %}
                        <td><span class="button button-yes etat">Active</span></td>
                    {% else %}
                        <td><span class="button button-no etat">Inactive</span></td>
                    {% endif %}
                </tr>
            </a>
            {% endfor %}
            </tbody>
        </table>
    </article>
</main>
{% endblock %}
