{% extends 'base.html.twig' %}

{% block title %}Statistiques d'une borne | Cigale{% endblock %}

{% block main %}
<main>
    <article>
        <h2>
            Borne {{ borne.nom }}
        </h2>
        {% if active.type.etat is defined and active.type.etat == "Active" %}
            <span class="button button-yes etat">Active</span>
        {% elseif active.type.etat is defined and active.type.etat == "Inactive" %}
            <span class="button button-no etat">Inactive</span>
        {% elseif active.type.etat is defined %}
            <span class="button button-alt etat">{{active.type.etat}}</span>
        {% else %}
            <span class="button button-alt etat">Inconnu</span>
        {% endif %}
        <p>
            Nombre de péripheriques connectés : <b>{{ nbDevice }}</b> <br>
            Nombre d'utilisateurs connectés : <b>{{ users }}</b> <br>
        </p>
        <a href="{{ path('bornes.historique',{id : active.borne.id}) }}" class="button button-alt">Historique d'activation <i class="fas fa-history"></i></a>
    </article>
    <article>
        <h2>Détail par an :</h2>
        <ul>
            {% for y in nbDeviceYear %}
                <li><b>{{ y.year }}</b> : {{ y.count }}</li>
            {% endfor %}
        </ul>
    </article>
    <article>
        <h2>Détail par mois :</h2>
        <ul>
            {% for y in nbDeviceMonth %}
                <li><b>{{ y.month }}</b> : {{ y.count }}</li>
            {% endfor %}
        </ul>
    </article>
    <article>
        <h2>Détail par jour :</h2>
        <ul>
            {% for y in nbDeviceDay %}
                <li><b>{{ y.day }}</b> : {{ y.count }}</li>
            {% endfor %}
        </ul>
    </article>

</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
