{% extends 'base.html.twig' %}

{% block title %}Accueil | Cigale{% endblock %}

{% block header %}
    <div class="tag"></div>
    <div class="title">
        <h1>{{ h1 | default('Cigale') }}</h1>
        <span>Panneau d'administration</span>
    </div>
    <div class="compte">
        <a href="{{ path('modifiercompte') }}" class="button button-no">
            Paramètres <i class="fas fa-cog"></i>
        </a>
        <a href="{{ path('app_logout') }}" class="button button-no">
            Déconnexion <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>
{% endblock %}

{% block main %}
<main class="accueil">
<nav class="menu">
    <a href="{{ path('bornes') }}" class="menu-item-link">
        <div class="menu-item">
            <i class="fas fa-satellite-dish"></i>
            <h3>Paramètres des bornes</h3>
        </div>
    </a>
    {% if is_granted('ROLE_ADMIN')  %}
    <a href="{{ path('bornes.ajouter') }}" class="menu-item-link">
        <div class="menu-item">
            <i class="fas fa-plug"></i>
            <h3>Ajouter une borne</h3>
        </div>
    </a>
    <a href="{{ path('utilisateurs.managers') }}" class="menu-item-link">
        <div class="menu-item">
            <i class="fas fa-user-shield"></i>
            <h3>Comptes clients</h3>
        </div>
    </a>
    <a href="{{ path('utilisateurs') }}" class="menu-item-link">
        <div class="menu-item">
            <i class="fas fa-mobile-alt"></i>
            <h3>Comptes utilisateurs</h3>
        </div>
    </a>
    <a href="{{ path('nouveaute') }}" class="menu-item-link">
        <div class="menu-item">
            <i class="fas fa-newspaper"></i>
            <h3>Actualités de Cigale</h3>
        </div>
    </a>
    <a href="{{ path('nouveaute.portail') }}" class="menu-item-link">
        <div class="menu-item">
            <i class="far fa-newspaper"></i>
            <h3>Actualités des portails</h3>
        </div>
    </a>
    <a href="{{ path('serveur') }}" class="menu-item-link">
        <div class="menu-item">
            <i class="fas fa-server"></i>
            <h3>Serveurs</h3>
        </div>
    </a>
    <a href="{{ path('serveur.deployer') }}" class="menu-item-link">
        <div class="menu-item">
            <i class="fas fa-project-diagram"></i>
            <h3>Déploiement des bornes</h3>
        </div>
    </a>
    <a href="{{ path('versioncgu') }}" class="menu-item-link">
        <div class="menu-item">
            <i class="fas fa-balance-scale"></i>
            <h3>Versions des CGU</h3>
        </div>
    </a>
    {% endif %}
    {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN')  %}
    <a href="{{ path('nouveaute') }}" class="menu-item-link">
        <div class="menu-item">
            <i class="far fa-newspaper"></i>
            <h3>Actualités du portail</h3>
        </div>
        <a href="{{ path('contact') }}" class="menu-item-link">
            <div class="menu-item">
                <i class="fas fa-envelope"></i>
                <h3>Contacter Yziact</h3>
            </div>
        </a>
    </a>
    {% endif %}
    <a href="" class="menu-item-link">
        <div class="menu-item">
            <i class="fas fa-chart-line"></i>
            <h3>Statistiques par bornes</h3>
        </div>
    </a>
    <a href="{{ path('aide') }}" class="menu-item-link">
        <div class="menu-item">
            <i class="fas fa-question-circle"></i>
            <h3>Aide</h3>
        </div>
    </a>
</nav>
<section>
    {% if nouveautes is defined and nouveautes[0] is defined %}
        <article class="actus">
    		<h2>Dernières actualités</h2>
            {% for n in nouveautes %}
                <div class="actu">
                    <div class="img" style="background: no-repeat center center url('{{n.lienImage}}'); background-size: cover;">
                    </div>
                    <div class="content">
                        <h3>{{ n.titre }}</h3>
                        <span class="date"><i class="fas fa-clock"></i> {{ n.dateNouveaute | date("d/m/Y") }}</span>
                        <p>{{ n.contenu }}</p>
                    </div>
                </div>
            {% endfor %}
    	</article>
    {% endif %}
</section>
</main>
{% endblock %}
