{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block header %}
    <div class="tag"></div>
    <div class="title">
        <h1>{{ h1 | default('Cigale') }}</h1>
        <span>Panneau d'administration</span>
    </div>
    <div class="compte">
        <a href="/user" class="button button-alt">
            Admin Yziact <i class="fas fa-cog"></i>
        </a>
    </div>
{% endblock %}

{% block main %}
<main class="accueil">
<nav class="menu">
    <a href="/bornes">
        <div class="menu-item">
            <i class="fas fa-satellite-dish"></i>
            <h3>Paramètres des bornes</h3>
        </div>
    </a>
    <a href="{{ path('bornes.ajouter') }}">
        <div class="menu-item">
            <i class="fas fa-plug"></i>
            <h3>Ajouter une borne</h3>
        </div>
    </a>
    <a href="/clients">
        <div class="menu-item">
            <i class="fas fa-user-shield"></i>
            <h3>Comptes clients</h3>
        </div>
    </a>
    <a href="/utilisateurs">
        <div class="menu-item">
            <i class="fas fa-mobile-alt"></i>
            <h3>Comptes utilisateurs</h3>
        </div>
    </a>
    <a href="/nouveaute">
        <div class="menu-item">
            <i class="fas fa-newspaper"></i>
            <h3>Actualités du portail</h3>
        </div>
    </a>
    <a href="/nouveaute">
        <div class="menu-item">
            <i class="far fa-newspaper"></i>
            <h3>Actualités de Cigale</h3>
        </div>
    </a>
    <a href="/deploiement">
        <div class="menu-item">
            <i class="fas fa-project-diagram"></i>
            <h3>Déploiement des bornes</h3>
        </div>
    </a>
    <a href="/stats">
        <div class="menu-item">
            <i class="fas fa-chart-line"></i>
            <h3>Statistiques par bornes</h3>
        </div>
    </a>
    <a href="/versioncgu">
        <div class="menu-item">
            <i class="fas fa-balance-scale"></i>
            <h3>Versions des CGU</h3>
        </div>
    </a>
    <a href="/help">
        <div class="menu-item">
            <i class="fas fa-question-circle"></i>
            <h3>Aide</h3>
        </div>
    </a>
    <a href="/contact">
        <div class="menu-item">
            <i class="fas fa-envelope"></i>
            <h3>Contacter Yziact</h3>
        </div>
    </a>
</nav>
<section>
    {% if nouveautes is defined and nouveautes[0] is defined %}
        <article class="actus">
    		<h2>Dernières actualités</h2>
            {% for n in nouveautes %}
                <div class="actu">
                    <div class="img" style="background: no-repeat center center url('{{n.image}}'); background-size: cover;">
                    </div>
                    <div class="content">
                        <h3>{{ n.titre }}</h3>
                        <span class="date"><i class="fas fa-clock"></i> {{ n.dateNouveaute | date }}</span>
                        <p>{{ n.contenu }}</p>
                    </div>
                </div>
            {% endfor %}
    	</article>
    {% endif %}
</section>
</main>
{% endblock %}
