
{% extends 'base.html.twig' %}

{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

{% block title %}Ajouter un administrateur | Cigale{% endblock %}

{% block main %}
    <section class="parametres">
        {{ form_start(form) }}
        <article>
            <h2>Ajouter un administrateur</h2>
            <div class="form infos-bornes">
                <div class="identification">
                    <div class="champ">
                        {{ form_label(form.email, "Email :") }}
                        {{ form_widget(form.email) }}
                    </div>


                    <div class="champ">
                        {{ form_label(form.nom, "Nom admin :") }}
                        {{ form_widget(form.nom) }}
                    </div>

                    <div class="champ">
                        {{ form_label(form.prenom, "Prenom admin :") }}
                        {{ form_widget(form.prenom) }}
                    </div>

                    <div class="champ">
                        {{ form_label(form.plainPassword, "Mot de passe :") }}
                        {{ form_widget(form.plainPassword) }}
                    </div>

                    <div class="submit">
                        <input type="submit" name="" class="button button-ok" value="Valider">
                        <a href="{{ currentPath }}" class="button button-no">Annuler</a>
                    </div>
                </div>
            </div>
        </article>

        {{ form_end(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
