{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateursController!{% endblock %}

{% block body %}
    <div>
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(form.email) }}
                </div>


                <div class="col">
                    <button class="btn btn-primary"> rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>


        <div>
            {% for d in data %}
                <h2>{{ d.email }}</h2>
                <div>{{ d.dateCreation|date }}</div>

                <div>{{ d.validation }}</div>

                <h2>ajouter les auters attributs</h2>

            {% endfor %}
            {{ knp_pagination_render(data) }}
        </div>>
    </div>
</div>
{% endblock %}
