
{% extends 'base.html.twig' %}

{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

{% block main %}
    <section class="parametres">
        {{ form_start(form) }}
        <article>
            <h2>Modifier Manager</h2>
            <div class="form infos-bornes">
                <div class="identification">
                    <div class="champ">
                        {{ form_label(form.email, "Email :") }}
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="champ">
                        {{ form_label(form.identifiant, "Identifiant :") }}
                        {{ form_widget(form.identifiant) }}
                    </div>

                    <div class="champ">
                        {{ form_label(form.nom_manager, "Nom manager :") }}
                        {{ form_widget(form.nom_manager) }}
                    </div>

                    <div class="champ">
                        {{ form_label(form.prenom_manager, "Prenom manager :") }}
                        {{ form_widget(form.prenom_manager) }}
                    </div>

                    <div class="submit">
                        <input type="submit" name="" class="button button-ok" value="Valider">
                        <a href="{{ currentPath }}" class="button button-no">Annuler</a>
                    </div>
                </div>
            </div>
        </article>




        {{ form_end(form) }}

        {###################   Reste a faire   #####################}
        {# appliquer a toutes mes bornes #}
        {#
            <article>
                <a href="." class="button button-alt">Redémarrer la borne <i class="fas fa-power-off"></i></a>
                <a href="." class="button button-no">Bloquer la borne <i class="fas fa-ban"></i></a>
                <a href="." class="button button-no">Supprimer la borne <i class="fas fa-trash-alt"></i></a>
            </article>
        #}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
