


{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    {{ parent() }}
    <link rel="stylesheet" href="/css/datatables.css">
{% endblock %}

{% block main %}

    <main>
        <article class="liste-bornes">
            <h2>Serveurs</h2>

            <table id="mydatatable" class="table table-striped table-bordered dt-responsive mydatatable" style="width:100%">
                <thead>
                <tr class="tableHead">

                    <th>Reseaux</th>
                    <th>derniere MAJ </th>
                    <th>Page de blocage</th>
                    <th>nombre borne</th>
                    <th>etat</th>
                </tr>
                </thead>

                <tbody>
                {% for d in data %}
                    <tr >
                        <td>{{ d.reseaux }}</td>
                        <td>{{ d.derniereMAJ | date}}</td>
                        <td>{{ d.pageDeBlocage }}</td>
                        <td>{{ d.nbMaxBorne }}</td>
                        {% if d.etat.etat is defined%}
                            <td>{{ d.etat.etat }}</td>
                        {% endif %}

                    </tr>
                    </a>
                {% endfor %}
                </tbody>
            </table>
        </article>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"></script>

    <script type="text/javascript" src="jquery.dataTables.js" defer></script>
    <script type="text/javascript" src="/js/dataTables.js" defer></script>
{% endblock %}
