{% extends 'base.html.twig' %}

{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

{% block title %}Modifier un serveur | Cigale{% endblock %}

{% block main %}
    <section class="parametres">
        {{ form_start(form) }}
        <article>
            <h2>Modifier un serveur</h2>
            <div class="form infos-bornes">
                <div class="identification">
                    <div class="champ">
                        {{ form_label(form.reseaux, "Reseaux :") }}
                        {{ form_widget(form.reseaux) }}
                    </div>

                    <div class="champ">
                        {{ form_label(form.page_de_blocage, "Page de blocage :") }}
                        {{ form_widget(form.page_de_blocage) }}
                    </div>

                    <div class="champ">
                        {{ form_label(form.nb_max_borne, "Nombre maximal de bornes :") }}
                        {{ form_widget(form.nb_max_borne) }}
                    </div>

                    <div class="champ">
                        {{ form_label(form.etat, "Etat :") }}
                        {{ form_widget(form.etat) }}
                    </div>

                    <div class="champ-checkbox">
                        {{ form_label(form.filtrage, "Filtrage :") }}
                        {{ form_widget(form.filtrage) }}
                    </div>

                    <div class="submit">
                        <input type="submit" name="" class="button button-ok" value="Valider">
                        <a href="{{ currentPath }}" class="button button-no">Annuler</a>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <h2>API</h2>
            <div class="submit">
                Token de l'API :<br>
                <b>{{ serveur.token }}</b><br><br>
                <a href="{{ path('serveur.token', {id : serveur.id}) }}" class="button button-no">Générer une nouvelle clé <i class="fas fa-recycle"></i></a><br>
                <i>En générant une nouvelle clé, vous allez redémarrer la borne</i>
            </div>
        </article>

        {{ form_end(form) }}
    </section>
{% endblock %}
